@import url("https://use.typekit.net/lmc7mjb.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "liberation-serif", Georgia, "Times New Roman", serif;
  background: var(--primary-color);
  color: var(--clr-text);
}

button {
  cursor: pointer;
}

main {
  max-width: var(--max-width);
  width: 100%;
}

/*
 ====== Form =====  
 */

.section-form {
  max-width: 620px;
  width: 100%;
  border: var(--form-border);
  margin: 0 auto 64px auto;
  padding: 48px;
  background-color: var(--clr-background);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;

  gap: 32px;
}

input {
  font: inherit;
  border: none;
  outline: none;
  appearance: none;
}

input[type="text"] {
  border-bottom: var(--form-border);
  padding: 12px 0;
  background-color: unset;
  &::placeholder {
    font-size: 16px;
  }
}

textarea {
  width: 100%;
  min-height: 173px;
  padding: 12px 0;
  line-height: 1.7;
  resize: none;
  border: none;
  border-bottom: var(--form-border);
  background-color: unset;

  &::placeholder {
    font-size: 16px;
  }
}

textarea:focus {
  border: none;
  stroke: none;
  appearance: none;
  outline: none;
  border-bottom: var(--form-border);
}

/* btn  */

input[type="submit"] {
  width: 205px;
  padding: 12px;
  /* border: none; */
  /* appearance: none; */
  background-color: var(--secondary-color);
  color: var(--primary-color);
  /* this make equal the distance the gap on top of the btn and the frame which is 48 */
  margin-top: 16px;
}

/* The blog part */

.block-post__container {
  max-width: 620px;
  width: 100%;
  margin: auto;
  padding-top: 56px;
}

.block-post__container__tag {
  /* width: 10 0px; */

  padding-bottom: 48px;
  text-transform: uppercase;
  padding: 4px 0;
  position: relative;
  margin-bottom: var(--spacing-lg);
}

.block-post__container__tag div {
  /* padding: 12px 0;; */
  background-color: rgb(255, 255, 255);
  display: inline-block;
  padding-right: 16px;
}

.block-post__container__tag div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  height: 1px;
  border-bottom: 1px solid rgb(13, 255, 29);
  background-color: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.block-post__container__date {
  font-size: 14px;
  font-weight: normal;
}

.block-post__container__title {
  font-size: 32px;
  font-weight: bold;
  color: var(--secondary-color);
  margin: var(--spacing-sm) 0;
}

.block-post__container__author {
  font-size: 12px;
  font-weight: bolder;
  font-style: italic;
  color: var(--third-color);
}

.block-post__container__post {
  margin-top: var(--spacing-sm-Extra);
  margin-bottom: var(--spacing-sm-Extra);
}

.block-post__container__btn {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid var(--primary-color);
}
