@import url("https://use.typekit.net/lmc7mjb.css");

:root {
  --clr-background: #f9f9ff;
  --clr-text: #5c5f61;

  --radius: 8px;

  --spacing-Xsm: 8px;
  --spacing-sm: 12px;
  --spacing-sm-Extra: 24px;
  --spacing-md: 36px;
  --spacing-lg: 48px;
  --spacing-xlg: 56px;

  /* color */

  /* --color1: #303e51; */
  --accent-color: #5c5f61;
  --third-color: #c4c7c9;
  --primary-color: #fff;
  --secondary-color: #303e51;

  /*   --max-width: 68rem;
 */
  --max-width: 1090px;

  /* responsive min-width */

  --min-width: min(100% - 2rem, 38rem);
  /* title h1,h2,h3 */
  --bigTitleText: 48px;
  --mediumTitleText: 32px;
  --smallTitleText: 24px;
  --form-border: 1px solid var(--clr-text);
}
