main {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
}

.archives--content {
  width: 70%;
  display: flex;
  gap: 84px;
  margin: auto;
}

.text__small-header-text {
  padding-bottom: 32px;
}

.archives--content {
  margin-bottom: 36px;
}
